extends layout.pug

block content
  #home.container-fluid.p-0
    .d-flex.align-items-center.justify-content-center.h-25
      form(action="/search" method="GET").d-flex.my-2.px-5.w-50
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search' name="query" value=query)
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    .container.h-50.bg-botticelli.p-5
      .w-100.d-flex.justify-content-between
        div
          h5 Word
        div
          i.far.fa-star
          



