:root {
  --wild-sand: #f6f5f5;
  --botticelli: #d3e0ea;
  --eastern-blue: #1687a7;
  --calypso: #276678;
}

.bg-wild-sand {
  background-color: var(--wild-sand);
}
.bg-botticelli {
  background-color: var(--botticelli);
}
.bg-eastern-blue {
  background-color: var(--eastern-blue);
}
.bg-calypso {
  background-color: var(--calypso);
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -45px;
}